body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2B2B35;
  overflow-x: hidden;
}

.Loading{
  height: 100vh;
}

.row{
  margin-top: 100px;
}

.form i{
  font-size: 150px;
  color: white;
}


.form aside{
  display: flex;
  justify-content: center;
}

.form-group{
  margin: 25px 0;
}

.TaskBox{
  width: 90%;
  max-width: 700px;
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logout{
  position: absolute;
  right: 20px;
}

.progress,.level{
  width: 90%;
  max-width: 700px;
}

